:root {
  --sec-padding: 60px;
  --mt-between: 40px;
  --line-height: 2;
  --main-clr: crimson;
  --black-clr: rgb(31, 30, 30);
  --gray-clr: #777;
  --gradient: linear-gradient(60deg, #29323c 0%, #485563 100%);
  --alt-gradient: linear-gradient(60deg, #485563 0%, #29323c 100%);
  --duration: 0.3s;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-scroll-padding-top: 10vh;
  -moz-scroll-padding-top: 10vh;
  -o-scroll-padding-top: 10vh;
  -ms-scroll-padding-top: 10vh;
  scroll-padding-top: 10vh;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
*:focus {
  outline: none;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background: var(--gradient);
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.overlay::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.btn-shape {
  position: relative;
  display: block;
  width: fit-content;
  padding: 10px 22px;
  margin-top: 15px;
  border: 2px solid var(--main-clr);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  transition: var(--duration);
}
.btn-shape:hover {
  background-color: var(--main-clr);
  color: white;
}
.section-title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.section-title span {
  color: var(--main-clr);
}
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: var(--gradient);
}
.header .container {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  color: white;
}
.logo span {
  color: var(--main-clr);
}
#nav-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: none;
}
.hamburger {
  position: relative;
  z-index: 100;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.hamburger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  border-radius: 50%;
  transform: scale(1);
  opacity: 1;
  animation: hamburger_puls 1s ease infinite;
}
.hamburger .bars {
  position: relative;
  z-index: -1;
  display: block;
  width: 24px;
  height: 2px;
  background-color: white;
}
.hamburger .bars::before,
.hamburger .bars::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: var(--duration);
}
.hamburger .bars::before {
  top: 8px;
}
#nav-input:checked + .hamburger .bars::before {
  top: 0;
}
.hamburger .bars::after {
  bottom: 8px;
}
#nav-input:checked + .hamburger .bars::after {
  bottom: 0;
}
.nav-links {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(31 30 30 / 80%);
  transition: var(--duration);
}
#nav-input:checked ~ .nav-links {
  right: 0;
}
.nav-links li a {
  display: block;
  padding: 20px;
  font-weight: normal;
  font-size: 30px;
  color: white;
  transition: var(--duration);
}
.nav-links li a:hover {
  color: var(--main-clr);
}
.landing {
  position: relative;
  margin-top: 10vh;
  background: url(../imgs/hero-bg.WebP) center center no-repeat;
  background-size: cover;
}
.landing .container {
  position: relative;
  z-index: 2;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.landing .landing-title .sub-title {
  position: relative;
  width: fit-content;
  font-weight: 500;
  font-size: 40px;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
}
.landing .landing-title > .sub-title:first-child {
  animation-delay: 1s;
}
.landing .landing-title > .sub-title:nth-child(2) {
  animation-delay: 2s;
}
.landing .landing-title > .sub-title:last-child {
  animation-delay: 3s;
}
.landing .landing-title > .sub-title:last-child {
  animation-name: last_text_reveal;
}
.landing .landing-title > .sub-title span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-clr);
  animation: text_reveal_box 1s ease;
}
.landing .landing-title > .sub-title:first-child span {
  animation-delay: 0.5s;
}
.landing .landing-title > .sub-title:nth-child(2) span {
  animation-delay: 1.5s;
}
.landing .landing-title > .sub-title:last-child span {
  animation-delay: 2.5s;
}
.services {
  padding: var(--sec-padding) 0;
}
.services .section-desc {
  width: 550px;
  max-width: 100%;
  margin: 10px auto 0;
  line-height: 1.8;
  text-align: center;
  font-size: 14px;
  color: var(--gray-clr);
}
.services .srvs {
  margin-top: var(--mt-between);
  display: grid;
  gap: 30px;
}
.srvs .srv {
  position: relative;
  background: url(../imgs/img-1.WebP) center center no-repeat;
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  color: white;
}
.srvs .srv .srv-img {
  position: relative;
  z-index: 2;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
.srvs .srv .srv-title {
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
}
.srvs .srv .srv-desc {
  position: relative;
  z-index: 2;
  line-height: var(--line-height);
  font-size: 14px;
}
.recent-projects {
  padding: var(--sec-padding) 0;
}
.projects {
  margin-top: var(--mt-between);
}
.project-item {
  width: calc(100% - 30px);
  margin: 30px auto;
  border-radius: 10px;
  overflow: hidden;
}
.project-item:last-child {
  margin-bottom: 0;
}
.project-img {
  position: relative;
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
}
.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--duration);
}
.project-img:hover img {
  transform: scale(1.5);
}
.project-info {
  flex-basis: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--gradient);
  color: white;
}
.project-info .project-title {
  font-size: 30px;
  font-weight: normal;
}
.project-info .project-sub-title {
  margin: 12px 0 15px;
}
.project-info .project-desc {
  line-height: var(--line-height);
  font-size: 14px;
}
.about-me {
  padding: var(--sec-padding) 0 calc(var(--sec-padding) + 25px);
}
.about-me .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.about-img {
  width: 325px;
  height: 400px;
  margin: 60px auto 0;
  padding-left: 25px;
}
.about-img > div {
  position: relative;
  width: 100%;
  height: 100%;
  border: 10px solid white;
}
.about-img > div::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 15px;
  left: -35px;
  width: 100%;
  height: 100%;
  border: 10px solid var(--main-clr);
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-info {
  flex: 1;
  text-align: center;
}
.about-info .about-job {
  display: block;
  margin: 12px 0 15px;
  font-weight: 500;
}
.about-info .about-desc {
  line-height: var(--line-height);
  font-size: 14px;
}
.about-info a {
  margin: 15px auto 0;
  padding: 10px 20px;
  color: var(--black-clr);
}
.contact-info {
  padding: var(--sec-padding) 0;
}
.contact-info .container {
  margin-top: var(--mt-between);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}
.contact-box {
  padding: 30px;
  display: flex;
  box-shadow: 0 0 10px rgb(31 30 30 / 20%);
  border-radius: 10px;
  transition: var(--duration);
}
.contact-box:hover {
  box-shadow: 0 0 10px rgb(31 30 30 / 10%);
}
.contact-icon {
  width: 65px;
  height: 65px;
  margin-right: 15px;
}
.contact-info .info-title {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 22px;
}
.contact-info .info-desc {
  line-height: 1.6;
  font-weight: 500;
  font-size: 14px;
}
.footer {
  padding: calc(var(--sec-padding) - 20px) 0 20px;
  background: var(--gradient);
  text-align: center;
  color: white;
}
.footer h4 {
  margin: 20px 0;
  font-weight: normal;
  font-size: 18px;
}
.footer .social-icons {
  display: flex;
  justify-content: center;
}
.footer .social-icons a {
  display: block;
  margin: 0 5px;
}
.footer .social-icons img {
  width: 50px;
  height: 50px;
  filter: grayscale(1);
  cursor: pointer;
  transition: var(--duration);
}
.footer .social-icons a:hover img {
  filter: grayscale(0);
}
.footer .copyright {
  margin-top: 40px;
  font-size: 14px;
}
.login-page {
  margin-top: 10vh;
  background: var(--gradient);
}
.login-page .container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page form {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.login-page form .holder {
  position: relative;
  min-height: 400px;
  overflow: hidden;
}
.login-page .section-title {
  font-size: 40px;
}
.login-page input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: none;
}
.login-page .switches {
  position: relative;
  margin: 20px 0;
  display: flex;
  border: 2px solid #485563;
  border-radius: 10px;
  overflow: hidden;
}
.login-page .switches .shape {
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 100%;
  background: var(--gradient);
  transition: var(--duration);
}
.login-page input#sign-up-switch:checked ~ .switches .shape {
  animation: to_right 0.8s ease forwards;
}
.login-page input#login-switch:checked ~ .switches .shape {
  animation: to_left 0.8s ease forwards;
}
.login-page .switches label {
  position: relative;
  z-index: 1;
  flex: 1;
  display: block;
  padding: 10px;
  border: none;
  background-color: transparent;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.login-page input#sign-up-switch:checked ~ .switches .sign-up-switch,
.login-page input#login-switch:checked ~ .switches .login-switch {
  color: white;
}
.login-page .part {
  position: absolute;
  width: 100%;
  transition: transform var(--duration) ease;
}
.login-page .login-part {
  right: 0;
}
.login-page .sign-up-part {
  left: 0;
}
.login-page input#login-switch:checked ~ .sign-up-part {
  transform: translateX(calc(-100% - 30px));
}
.login-page input#sign-up-switch:checked ~ .sign-up-part {
  animation: switch_to_right 0.8s ease forwards;
}
.login-page input#sign-up-switch:checked ~ .login-part {
  transform: translateX(calc(100% + 30px));
}
.login-page input#login-switch:checked ~ .login-part {
  animation: switch_to_left 0.8s ease forwards;
}
.login-page .part .input {
  width: 100%;
  margin-bottom: 20px;
  padding: 13.5px;
  border-radius: 10px;
  border: 2px solid #485563;
}
.login-page .part .reset-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: blue;
}
.login-page .part input[type="submit"] {
  width: 100%;
  margin: 20px 0;
  padding: 10.5px;
  background: linear-gradient(to right, #29323c, #485563 50%, #485563);
  background-size: 200% 100%;
  background-position: left bottom;
  border: 2px solid #485563;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: var(--duration);
}
.login-page .part input[type="submit"]:hover {
  background-position: right bottom;
}
.login-page .sign-up-part input[type="submit"] {
  margin: 0;
}
.login-page .part > p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.login-page .part > p > label {
  color: blue;
  cursor: pointer;
}
@keyframes hamburger_puls {
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes last_text_reveal {
  100% {
    color: var(--main-clr);
  }
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes to_right {
  0% {
    right: 0;
  }
  50% {
    right: 0;
    width: 45%;
  }
  100% {
    right: 0;
    width: 50%;
  }
}
@keyframes to_left {
  0% {
    left: 0;
  }
  50% {
    left: 0;
    width: 45%;
  }
  100% {
    left: 0;
    width: 50%;
  }
}
@keyframes switch_to_right {
  0% {
    transform: translateX(calc(-100% - 30px));
  }
  30% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(0);
    width: 95%;
  }
  100% {
    transform: translateX(0);
    width: 100%;
  }
}
@keyframes switch_to_left {
  0% {
    transform: translateX(calc(100% + 30px));
  }
  30% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(0);
    width: 95%;
  }
  100% {
    transform: translateX(0);
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --sec-padding: 80px;
    --mt-between: 60px;
  }
  .container {
    width: 750px;
  }
  .btn-shape {
    margin-top: 22.5px;
    padding: 15px 45px;
    font-size: 24px;
  }
  .section-title {
    font-weight: 300;
    font-size: 60px;
  }
  .landing .landing-title > .sub-title {
    font-size: 70px;
  }
  .services .srvs {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-item {
    width: 100%;
    height: 400px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0;
  }
  .project-item:nth-child(2),
  .project-item:nth-child(4) {
    flex-direction: row-reverse;
  }
  .project-info .project-title {
    font-size: 40px;
  }
  .project-img {
    height: 100%;
  }
  .about-me .container {
    flex-direction: row;
  }
  .about-me .container {
    flex-direction: row;
  }
  .about-img {
    margin: 0;
  }
  .about-info {
    padding-left: 30px;
    text-align: left;
  }
  .about-info .section-title {
    text-align: left;
  }
  .about-info a {
    margin: 22.5px 0 0;
  }
  .login-page form {
    padding: 30px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .hamburger {
    display: none;
  }
  .nav-links {
    position: initial;
    height: auto;
    flex-direction: row;
    background-color: transparent;
  }
  .nav-links li a {
    font-weight: 500;
    font-size: 1rem;
  }
  .services .srvs {
    grid-template-columns: repeat(4, 1fr);
  }
}
